
/* es.css [Spanish] */
[data-lang="chat"]:after { content: 'chat'; }
[data-lang="comments"]:after { content: 'comentarios'; }
[data-lang="folder"]:after { content: 'carpeta'; }
[data-lang="folders"]:after { content: 'carpetas'; }
[data-lang="image"]:after { content: 'imagen'; }
[data-lang="images"]:after { content: 'imagenes'; }
[data-lang="map"]:after { content: 'mapa'; }
[data-lang="pause"]:after { content: 'pausar'; }
[data-lang="play"]:after { content: 'reproducir'; }
[data-lang="styles"]:after { content: 'estilos'; }